.home {
  margin: 0 40px;
}

.home header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.home__country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
