.country-card {
  text-align: left;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 26%);
  border-radius: 5px;
}

.country-card:hover {
  cursor: pointer;
}

.country-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.country-card h3 {
  margin: 10px 0;
  margin-left: 20px;
}

.country-card p {
  margin: 2px 0;
  margin-left: 20px;
}
